* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
}

.logo {
    width: 272px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
}

#search{
    width: 40%;
    display: block;
    margin: 25px auto;
}