* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    margin: 5px 20px;
}

header nav ul {
    list-style: none;
    padding:10px;
    display: flex;
    flex-direction: row;
}

a {
    font-size: .95rem;
    margin: 5px;
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}

a:hover {
    text-decoration: underline;
    color: rgba(0,0,0,0.8);
}

#grid {
    filter: contrast(0);
    margin-left: 5px;
}

#grid:hover {
    filter: contrast(0.3);
}

header img {
    margin-right: 20px;
    width: 40px;
    height: auto;
}

main {
    width: 100%;
}

.logo {
    width: 272px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
}

#search-bar {
    text-align: center;
}

#search{
    width: 584px;
    display: block;
    margin: 30px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 15px 40px;
    outline: none;
    background: url(./images/search-solid.png) no-repeat;
    background-size: 25px;
    background-position:10px 13px;
}

#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

button {
    color: grey;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-left: 15px;
    border: none;
    outline: none;
}

button:hover {
    color: black;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-footer {
    display: flex;
    margin-left: 20px;
}

.right-footer {
    display: flex;
    margin-right: 20px
}