* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 15px 20px;
}

header nav ul {
    list-style: none;
    padding:10px;
    display: flex;
    flex-direction: row;
}

a {
    font-size: .9em;
    margin-right: 20px;
    text-decoration: none;
    color: grey;
}

a:hover {
    text-decoration: underline;
}

main {
    width: 100%;
}

.logo {
    width: 272px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
}

#search-bar {
    text-align: center;
}

#search{
    width: 40%;
    min-width: 500px;
    max-width: 700px;
    display: block;
    margin: 30px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 15px 40px;
    outline: none;
}

#search:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1),
        -1px -1px 2px rgba(0, 0, 0, 0.1);
    border: 0 0 0;
}

button {
    color: grey;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-left: 15px;
    border: none;
    outline: none;
}

button:hover {
    color: black;
    box-shadow: 0 0 1px grey;
}

#search-icon{
    position: absolute;
    padding: 11px 11px;
    filter: contrast(0);
    margin: 7px -288px;
}
